<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
  <%= f.text_field :content, placeholder: "new-client.myshopify.com" %>
    <div class="actions">
      <div id="submit">
        <%= f.submit %>
      </div>
    </div>
<% end %>
