<h1 class="affliate_title"><%= @todo_list.title %></h1>
<h2 class="affliate_sub_title">Edit - <%= @todo_item.content %></h2>
<div class="forms">
  <%= render 'form_edit', todo_items: @todo_items %>
</div>